/third/glad.zip
/third/glfw-3.4.bin.WIN64.zip
/third/glfw-3.4.bin.WIN64/docs/html
/app/.vs/app/v17
/app/app/x64/Debug
/app/x64/Debug
/app/.vs/app/FileContentIndex/*.vsidx
/third/glfw-3.4.bin.WIN64/LICENSE.md
/third/glfw-3.4.bin.WIN64/README.md
/third/glfw-3.4.bin.WIN64/lib-mingw-w64/glfw3.dll
/third/glfw-3.4.bin.WIN64/lib-mingw-w64/libglfw3.a
/third/glfw-3.4.bin.WIN64/lib-mingw-w64/libglfw3dll.a
/third/glfw-3.4.bin.WIN64/lib-static-ucrt/glfw3.dll
/third/glfw-3.4.bin.WIN64/lib-static-ucrt/glfw3dll.lib
/third/glfw-3.4.bin.WIN64/lib-vc2013/glfw3.dll
/third/glfw-3.4.bin.WIN64/lib-vc2013/glfw3.lib
/third/glfw-3.4.bin.WIN64/lib-vc2013/glfw3_mt.lib
/third/glfw-3.4.bin.WIN64/lib-vc2013/glfw3dll.lib
/third/glfw-3.4.bin.WIN64/lib-vc2015/glfw3.dll
/third/glfw-3.4.bin.WIN64/lib-vc2015/glfw3.lib
/third/glfw-3.4.bin.WIN64/lib-vc2015/glfw3_mt.lib
/third/glfw-3.4.bin.WIN64/lib-vc2015/glfw3dll.lib
/third/glfw-3.4.bin.WIN64/lib-vc2017/glfw3.dll
/third/glfw-3.4.bin.WIN64/lib-vc2017/glfw3.lib
/third/glfw-3.4.bin.WIN64/lib-vc2017/glfw3_mt.lib
/third/glfw-3.4.bin.WIN64/lib-vc2017/glfw3dll.lib
/third/glfw-3.4.bin.WIN64/lib-vc2019/glfw3.dll
/third/glfw-3.4.bin.WIN64/lib-vc2019/glfw3.lib
/third/glfw-3.4.bin.WIN64/lib-vc2019/glfw3_mt.lib
/third/glfw-3.4.bin.WIN64/lib-vc2019/glfw3dll.lib
